attr
ghp-import
git+https://github.com/nipreps/mriqc-learn.git@main
jupyter-book
jupytext>=1.11.2  # Full compat with myst-nb
matplotlib
myst-nb
nanslice
nibabel
nilearn
numpy
pandas
pytest
requests
scikit-learn
scipy
