attr
ghp-import
jupyter-book
jupytext>=1.11.2  # Full compat with myst-nb
matplotlib
nanslice
nibabel
nilearn
niwidgets
numpy
pytest
requests
pandas
git+https://github.com/nipreps/mriqc-learn.git@main
myst-nb
