attr
ghp-import
git+https://github.com/nipreps/mriqc-learn.git@main
jupyter-book
jupytext>=1.11.2  # Full compat with myst-nb
matplotlib
myst-nb
git+https://github.com/spinicist/nanslice@ab30dbe
nibabel
nilearn
numpy
pandas
plotly
pytest
requests
scikit-learn
scipy
