name: deploy-book

# Only run this when the master branch changes
on:
  push:
    branches:
    - main

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/cache@v2
      with:
        path: /var/lib/apt
        key: apt-cache-v2
        restore-keys: |
          apt-cache-v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
                             build-essential \
                             bzip2 \
                             ca-certificates \
                             cm-super \
                             curl \
                             dvipng \
                             fontconfig \
                             fonts-freefont-ttf \
                             libcurl4-gnutls-dev \
                             libssl-dev \
                             libxml2-dev \
                             r-base \
                             texlive-fonts-extra \
                             texlive-fonts-recommended \
                             texlive-latex-extra \
                             unzip

    - uses: actions/cache@v2
      with:
        path: ~/.fonts
        key: fonts-v4
        restore-keys: |
          fonts-v4
    - name: Install Libre Franklin Open Type
      run: |
        if [[ ! -d $HOME/.fonts/LibreFranklin ]]; then
          curl -sSL "https://fonts.google.com/download?family=Libre%20Franklin" -o /tmp/LibreFranklin.zip
          mkdir -p $HOME/.fonts/LibreFranklin
          pushd $HOME/.fonts/LibreFranklin
          unzip -e /tmp/LibreFranklin.zip
        fi
        fc-cache -v

    - name: Configuring R
      run: |
        mkdir -p $HOME/.local/lib/R/site-library
        echo ".libPaths(c('~/.local/lib/R/site-library', .libPaths()))" >> $HOME/.Rprofile
        R -e ".libPaths()"

    # Install dependencies
    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9

    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - uses: actions/cache@v2
      with:
        path: ~/.local/lib/R/site-library
        key: irkernel-v2
        restore-keys: |
          irkernel-v2
    - name: Install IRKernel
      run: |
        R -e "install.packages('IRkernel', lib='~/.local/lib/R/site-library')"
        R -e "IRkernel::installspec()"

    - name: Install R dependencies
      env:
        GIHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      run: |
        Rscript install.R

    # Build the page
    - name: Build the book
      run: |
        jupyter-book build docs

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
